.jslogo {
    width: 200px;
    margin: 0px 360px 30px 0px;
    position: relative;
    animation-name: animalogo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.htmllogo {
    width: 110px;
    margin: 150px 0px 0px 0px;
    position: absolute;
    animation-name: animalogo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.csslogo{
    width: 80px;
    margin: 160px 0px 0px 360px;
    position: absolute;
    animation-name: animalogo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes animalogo {
    0% {top:25px;}
    25% {top: 12px;}
    50% {top:25px;}
    75% {top: 12px;}
    100% {top: 25px;}
}
